<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Receipt</title>
</head>
<body>

Name: <span th:text="${item.getProductName()}"/>
<br/>
Number: <span th:text="${item.getQuantity()}"/>
<br/>
Total cost: <span th:text="${item.getCost()}"/>


<p><a href="newproduct.html">Add a product</a></p>
<p><a href="showsales.html">Show sales</a></p>
<p><a href="makepurchase.html">Make a purchase</a></p>
<p><a href="showquantities.html">Check stock</a></p>
</body>
</html>