<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Stock page</title>
</head>
<body>

<div th:each="prod: ${prods}">
    <p>Product Id: <span th:text="${prod.getProductId()}"/></p>
    <p>Product name: <span th:text="${prod.getProductName()}"/></p>
    <p>Product price: <span th:text="${prod.getPrice()}"/></p>
    <p>Product description: <span th:text="${prod.getDescription()}"/></p>
    <p>Product quantity: <span th:text="${prod.getQuantity()}"/></p>
</div>
<p><a href="newproduct.html">Add a product</a></p>
<p><a href="showsales.html">Show sales</a></p>
<p><a href="makepurchase.html">Make a purchase</a></p>
<p><a href="showquantities.html">Check stock</a></p>
</body>
</html>